@page "/education"

<PageTitle>Education</PageTitle>

<div class="title-section">
    <p>2019: John Bryce</p>
    <p>Java development, final average: 93.</p>
    <p>2014 – 2017: Ruppin Academic Center</p>
    <p>B.A in Business Management.</p>
</div>