@page "/personal_details"

<PageTitle>Personal details</PageTitle>

<h1>Personal details</h1>

<div class="title-section">
    <h1>Your Name</h1>
    <p>Phone Number: Your Phone Number</p>
    <p>Email: Your Email</p>
    <p>City: Your City</p>
    <p>Age: Your Age</p>
    <p>LinkedIn: <a href="Your LinkedIn URL">Your LinkedIn</a></p>
</div>