@page "/technical_skills"

<PageTitle>Technical Skills</PageTitle>

<div class="title-section">
    <p>Programming languages - C# | Java | Groovy script</p>
    <p>Server-side Technologies - Spring | RESTful WebService | SQL | ASP.NET</p>
    <p>Other Technologies - Maven | XML | JSON | OOP | Jira | Git | GitHub | Dockers | Kubernetes</p>
    <p>Automation – NUnit | Junit and TestNG | Selenium</p>
    <p>Development platforms - Visual Studio | Eclipse | Android Studio | IntelliJ IDEA</p>
</div>