@page "/who_am_I"

<PageTitle>Who am I</PageTitle>

<div class="title-section">
    <p><strong>Dedicated Automation Infrastructure Developer with 3.5 years of hands-on experience, specializing in
    creating, maintaining, and enhancing automation infrastructures.</strong>
    Proactive problem-solver, providing valuable support to team members, and fostering professional growth
    through mentorship. Driving innovation by identifying opportunities to improve infrastructure automation
    capabilities. Proficient in handling cross-domain challenges and ensuring seamless operations.</p>
</div>